* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.inputs,.graph,.info {
    border-radius: 10px;
    border: 1px solid black;
    min-height: 200px;
    margin: 1rem;
    padding: 0.25rem;
}

.graph {
    display: flex;
    align-items: center;
}

.graph div {
    white-space: pre;
}

.level-order, .in-order, .pre-order, .post-order {
    display: flex;
    gap: 0.5rem;
}